# Bagging Machine Learning Algorithm

**Bootstrap Aggregating or Bagging**
- Bootstrap sampling: Sampling with replacement
- Combine by averaging the output (regression)
- Combine by voting (classification)
- Can be applied to many classifiers which includes ANN, CART, etc.

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
df.shape

(891, 15)

In [ ]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df['pclass'].unique()

array([3, 1, 2])

In [ ]:
df['pclass'].value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [ ]:
df['sex'].unique()

array(['male', 'female'], dtype=object)

# Data Preprocessing

In [ ]:
from sklearn import preprocessing
X = df[['pclass', 'sex', 'age']].copy()
le = preprocessing.LabelEncoder()

In [ ]:
X['sex'] = le.fit_transform(df['sex'])
X.head()

   pclass  sex   age
0       3    1  22.0
1       1    0  38.0
2       3    0  26.0
3       1    0  35.0
4       3    1  35.0

In [ ]:
X.shape

(891, 3)

In [ ]:
X.describe()
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  891 non-null    int64
 1   sex     891 non-null    int64
 2   age     714 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 21.0 KB

# Fit Model

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [ ]:
X = pd.DataFrame()
y = pd.DataFrame()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

ValueError: ignored

# Random Forest
- Ensemble of decision trees
- training via the bagging method (repeated sampling with replacement)
  - Bagging: sample from samples
  - RF: sample from predictors. m = sqrt(p) for classification and m = p/3 for regression problems
- Utilize uncorrelated trees

Random Forest

- Sample both observations and features of training data

Bagging

- Samples only observations at random
- Decision Tree select best feature when splitting a node

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np

In [ ]:
X, y = np.reshape((5, 2))
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.1)

TypeError: ignored

# Grid Search

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
import pandas as pd

In [ ]:
rf_clf = RandomForestClassifier(random_state=42, n_estimators=100)

In [ ]:
# X = pd.DataFrame()
# y = pd.DataFrame()
# X_train = [0]
# y_train = [0]
params_grid = {'max_depth': [3, None],
               'min_samples_split': [2, 3, 10],
               'min_samples_leaf': [1, 3, 10],
               'bootstrap': [True, False],
               'criterion': ['gini', 'entropy']}

In [ ]:
grid_search = GridSearchCV(rf_clf, params_grid,
                           n_jobs=-1, cv=5,
                           verbose=1, scoring='accuracy')

In [ ]:
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 72 candidates, totalling 360 fits

ValueError: ignored

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
ada_clf = AdaBoostClassifier(n_estimators=100)
ada_clf.fit(X_train, y_train)

ValueError: ignored